/* Палитра основных цветов */
/* цвета логотипа #2196F3; #000000 */
/* цвет меню навигации, h3 #212121, акцент, ховер #2196F3 */
/* h1, а также цвет текста в некоторых элементов #ffffff  */
/* цвет фона в хиро, цвет фона в футере #2F303A */
/* контакты в шапке, контент в секции преимущества #757575 */
/* team background, button background #F5F4FA */
/* элементы контактов в футере rgba(255, 255, 255, 0.6); */
/* фон в секции наши преимущества и чем мы занимаемся #E5E5E5 */

:root {
  --h2-title-color: #212121;
  --h3-title-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: #757575;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Header */
.header {
  background-color: #ffffff;
}

.site-nav .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.nav-contact .link {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: var(--accent-color);
}

.header .logo {
  font-family: Raleway, Oleo Script, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}

/* стили для index.html */
/* heroes */
.heroes {
  background-color: #2f303a;
}

.heroes .title {
  color: #ffffff;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.heroes .button {
  background-color: #2196f3;
  color: #ffffff;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

  .heroes .button:hover,
  .heroes .button:focus {
    background-color: #ffffff;
    color: #2196f3;
  }

/* Секции */

.hidden-title {
  color: #e5e5e5;
}

.list-title {
  color: var(--h3-title-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.advantage-content {
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  color: var(--h2-title-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}
.team .title {
  color: var(--h3-title-color);
  background-color: #ffffff;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .spec {
  background-color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
}

.team .background {
  background-color: #ffffff;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer .logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer .logo-web {
  color: #2196f3;
}

.footer .logo-studio {
  color: #ffffff;
}

.address {
  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.special-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.special-link:hover,
.special-link:focus {
  color: #2196f3;
}

/* стили для portfolio.html */

.button-portfolio {
  background-color: #f5f4fa;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-title {
  color: #212121;

  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2
letter-spacing: 0.06em;

}

.image-link{
  text-decoration: none;
}

.portfolio-type {
  color: #757575;

font-size: 16px;
line-height: 1.87;
}
